*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
  
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:white;

}
body{
padding-top: 5%;
}

.home{
  min-height: 80vh;
  width: 90%;
  background: whitesmoke;
  padding: 15px;
  margin-left: 5%;
  border-radius: 1rem;
  margin-bottom: 10px;
  box-shadow: 0px 0px 1em #666;
  -webkit-box-shadow: 0px 0px 1em #666;
  -moz-box-shadow: 0px 0px 1em #666;
  
}

.container-img-child{
    width: 200px;
    height: 200px;

}

.container-img-parent{
  width: 100%;
  display: flex;
  justify-content: center;
}

h1.redesSociais {
  display: none;
}

ul.redesSociais {
  padding-left: 0;
  width: 620px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-top: 50px;
  margin-left: -310px;
  margin-bottom: 50px;
  cursor: pointer;
}

ul.redesSociais li {
  list-style-position: inside;
  display: block;
  position: absolute;
  right: 50%;
  transition: all 500ms;
}

/*Sem Mouse*/
ul.redesSociais li.pinterest {
  transform: scale(0.5);
  margin-right: -10px;
  z-index:0;
}
ul.redesSociais li.facebook {
  transform: scale(0.5);
  margin-right: -30px;
  z-index:1;
}
ul.redesSociais li.twitter {
  transform: scale(0.5);
  margin-right: -50px;
  z-index:2;
}
ul.redesSociais li.googleplus {
  transform: scale(0.5);
  margin-right: -70px;
  z-index:1;
}
ul.redesSociais li.skype {
  transform: scale(0.5);
  margin-right: -90px;
  z-index:0;
}

/*Com Mouse*/
ul.redesSociais:hover li.pinterest {
  margin-right: 190px;
}
ul.redesSociais:hover li.facebook {
  margin-right: 70px;
}
ul.redesSociais:hover li.twitter {
  margin-right: -50px;
}
ul.redesSociais:hover li.googleplus {
  margin-right: -170px;
}
ul.redesSociais:hover li.skype {
   margin-right: -290px;
}

.about{
  min-height: 80vh;
  width: 90%;
  background: whitesmoke;
  padding: 15px;
  border-radius: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  box-shadow: 0px 0px 1em #666;
  -webkit-box-shadow: 0px 0px 1em #666;
  -moz-box-shadow: 0px 0px 1em #666;
}


#mycard-service * {
  box-sizing: border-box;
}

#mycard-service *:after {
  box-sizing: border-box;
}

#mycard-service img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#mycard-service a {
  
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#mycard-service a:hover {
  
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#mycard-service {
  display: inline;
}

.mycard {
  background-image: linear-gradient(0deg, #2c3e50 0%, #16a085 100%);
  width: 300px;
  height: 300px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.mycard-image {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mycard-meta {
  font-size: 0.6875em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.mycard-meta:before {
  content: "";
  height: 1px;
  width: 30px;
  background-color: #fff;
  position: relative;
  display: block;
  margin-bottom: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mycard-text {
  color: #fff;
  background-color: rgba(17, 17, 17, 0.65);
  position: absolute;
  padding: 20px;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.mycard-title {
  margin: 8px 0;
  font-weight: 300;
  font-size: 1.275em;
}

.mycard a:hover .mycard-text {
  background-color: rgba(17, 17, 17, 0.86);
}
.mycard a:hover .mycard-meta:before {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.mycard a:hover .mycard-image {
  -webkit-transform: translate(20px, 0);
          transform: translate(20px, 0);
  transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}

.info-services{
 margin-left: 6%;
}

.container-skills {
	margin: 20px auto 0 auto;
  max-width: 80%;
}

.bar {
  position: relative;
	background-color: #d8d8d8;
	height: 10px;
	margin: 0 0 20px 0;
}
.bar-fill {
  position: absolute;
  height: 10px;
}
.bar-title {
  position: relative;
	font-size: 1em;
	text-align: left;
	margin: 0 0 5px 0;
}
.percent {
  position: absolute;
	right: 0;
}

/* Animations Below - Replace ease-out with infinite for infinite loop*/
/*Edit here for html*/  
.bar-fill-html {
	width: 90%;
  background-color: #e44d26;
	animation: bar-fill-html 2s ease-out;
	-moz-animation: bar-fill-html 2s ease-out;
  -webkit-animation: bar-fill-html 2s ease-out;
}
@keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}
@-moz-keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}
@-webkit-keyframes bar-fill-html {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}
/*Edit here for Javascript*/
.bar-fill-javascript {
	width: 60%;
  background-color: #f8dc3d;
  animation: bar-fill-javascript 2s ease-out;
	-moz-animation: bar-fill-javascript 2s ease-out;
  -webkit-animation: bar-fill-javascript 2s ease-out;
}
@keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}
@-moz-keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}
@-webkit-keyframes bar-fill-javascript {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    }
}
/*Edit here for typescript*/
.bar-fill-typescript{
	width: 70%;
  background-color: #1a3f7a;
  animation: bar-fill-typescript 2s ease-out;
	-moz-animation: bar-fill-typescript 2s ease-out;
  -webkit-animation: bar-fill-typescript 2s ease-out;
}
@keyframes bar-fill-typescript {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}
@-moz-keyframes bar-fill-typescript {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}
@-webkit-keyframes bar-fill-typescript {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}
/*Edit here for Java*/
.bar-fill-java{
	width: 90%;
  background-color: #c23f36;
  animation: bar-fill-java 2s ease-out;
	-moz-animation: bar-fill-java 2s ease-out;
  -webkit-animation: bar-fill-java 2s ease-out;
}
@keyframes bar-fill-java {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}
@-moz-keyframes bar-fill-java {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}
@-webkit-keyframes bar-fill-java {
    0% {
        width: 0px;
    }

    100% {
        width: 90%;
    }
}
/*Edit here for python*/
.bar-fill-python{
	width: 70%;
  background-color: #0a73dc;
  animation: bar-fill-python 2s ease-out;
	-moz-animation: bar-fill-python 2s ease-out;
  -webkit-animation: bar-fill-python 2s ease-out;
}
@keyframes bar-fill-python {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}
@-moz-keyframes bar-fill-python {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}
@-webkit-keyframes bar-fill-python {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    }
}